---
import ProjectCarousel from "./project-carousel.astro";
import sky from "../assets/sky.png";
import mtn1 from "../assets/mtn1.png";
import mtn2 from "../assets/mtn2.png";
import mtn3 from "../assets/mtn3.png";
import mtn4 from "../assets/mtn4.png";
import me from "../assets/me.png";

---

<div class="parallax-container">
    <div class="carousel-container">
        <ProjectCarousel></ProjectCarousel>
    </div>
    <div class="scene">
        <img src={sky.src} alt="" class="sky">
        <div class="scroll-layer m4">  
            <div class="mouse-layer" data-depth="20">
                <img src={mtn4.src} alt="" class="foreground-element">
            </div>    
        </div>
        <div class="scroll-layer m3">  
            <div class="mouse-layer" data-depth="20">
                <img src={mtn3.src} alt="" class="foreground-element">
            </div>    
        </div>
        <div class="scroll-layer m2">  
            <div class="mouse-layer" data-depth="20">
                <img src={mtn2.src} alt="" class="foreground-element">
            </div>    
        </div>
        <div class="scroll-layer m1">  
            <div class="mouse-layer" data-depth="20">
                <img src={mtn1.src} alt="" class="foreground-element">
            </div>    
        </div>
        <div class="scroll-layer me">  
            <div class="mouse-layer" data-depth="20">
                <img src={me.src} alt="" class="foreground-element">
            </div>    
        </div>
    </div>


</div>

<style>
    .parallax-container{
        box-sizing: border-box;
        overflow: hidden;
    }
    .carousel-container{
        z-index: 1;
        position: absolute;
    }
    .m3,.m2,.m1,me{
        z-index: 2;
    }
    .scene{
        position: relative;
        width: 100vw;
        height: 100vw;
        overflow: hidden;
    }

    .scroll-layer, 
    .mouse-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    }

    .foreground-element{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .sky{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        /* clip-path: inset(0px 0px var(--crop-bottom, 0px) 0px); */
    }
</style>

<script>


    



    const header = document.querySelector(".header");
    const headerHeight = header ? window.getComputedStyle(header).height: "0";
    
    const scene = document.querySelector(".scene");
    const scnHeight = scene ? parseFloat(window.getComputedStyle(scene).height): 0;

    gsap.registerPlugin(ScrollTrigger);
    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: ".parallax-container",
            start:"top -"+ headerHeight+ "px",
            end: "+="+scnHeight,
            pin: true,
            scrub:true,
            anticipatePin: 1
        }
    });
    tl.fromTo(".scroll-layer", 
        {y:500},
        {y:-300} 
    );

</script>